li.tickets-list__item
  .ticket-card.ticket-card--color01
    .ticket-card__img
      img(src=ticket.photo.src srcset=ticket.photo.srcset alt=ticket.title)
    .ticket-card__info
      span.ticket-card__label #{ticket.type}
      .ticket-card__categories
        each category in ticket.categories
          a(href='#') #{category}
      .ticket-card__header
        h3.ticket-card__title
          a(href='#') #{ticket.title}
        p.ticket-card__price
          span.js-sum #{ticket.sum}
          |  ₽
      .ticket-card__desc
        p #{ticket.description}
