li.tickets-list__item
  .ticket-card.ticket-card--color01
    .ticket-card__img
      if (ticket.picture)
        img(src=ticket.picture alt=ticket.title)
    .ticket-card__info
      span.ticket-card__label #{ticket.type}
      .ticket-card__categories
        each category in ticket.category
          a(href='/offers/category') #{category}
      .ticket-card__header
        h3.ticket-card__title
          a(href='/offers/' + ticket.id) #{ticket.title}
        p.ticket-card__price
          span.js-sum #{ticket.sum}
          |  ₽
      .ticket-card__desc
        p #{ticket.description}
